.logo {
    position: fixed;
    top: 20px;
    left: 35px;
}


#menu ul {
    padding: 0px;
    margin: 40px;
    width: 988px;
    height: 50px;
    left: 100px;
    background-color: #F0532A;
    list-style: none;
    left: 330px;


}

#menu li {
    display: inline;
    line-height: 50px;


}

#menu ul li a {
    padding: 2px 15px;
    color: white;
    text-decoration: none;
    position: relative;
    left: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

header {

    position: fixed;
    width: 960px;
    z-index: -1;
}

body {
    background-image: url(/images/fundoprincipal.jpg);
    position: absolute;
}

.produtos {
    background-color: white;
    width: 960px;
    height: 100%;
    position: fixed;
    z-index: -2;
    padding: 0px;
    margin: 68px;
    bottom: -220px;
}

.produto1 {
    background-image: url(/images/produto1.jpg);
    background-size: 100% 100%;
    position: relative;
    width: 300px;
    height: 180px;
    margin: 10px;
    top: 10px;
}

.produto2 {
    background-image: url(/images/produto2.jpg);
    background-size: 100% 100%;
    position: relative;
    width: 300px;
    height: 180px;
    margin: 10px;
    top: 25px;
}

.produto3 {
    background-image: url(/images/produto3.jpg);
    background-size: 100% 100%;
    position: relative;
    width: 300px;
    height: 180px;
    margin: 10px;
    top: 40px;
}

.produto4 {
    background-image: url(/images/produto4.jpg);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 180px;
    left: 330px;
    top: 20px;
}

.produto5 {
    background-image: url(/images/produto5.jpg);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 180px;
    left: 330px;
    top: 225px;
}

.produto6 {
    background-image: url(/images/produto6.jpg);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 180px;
    left: 330px;
    top: 430px;
}

.produto7 {
    background-image: url(/images/produto7.jpg);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 180px;
    left: 650px;
    top: 20px;
}

.produto8 {
    background-image: url(/images/produto8.jpg);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 180px;
    left: 650px;
    top: 225px;
}

.produto9 {
    background-image: url(/images/produto9.jpg);
    background-size: 100% 100%;
    position: absolute;
    width: 300px;
    height: 180px;
    left: 650px;
    top: 430px;
}

.freeproduto1 {
    background-image: url(/images/etiquetafree.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;

}

.offproduto2 {
    background-image: url(/images/etiquetaoff.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.freeproduto3 {
    background-image: url(/images/etiquetafree.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.offproduto4 {
    background-image: url(/images/etiquetaoff.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.newproduto5 {
    background-image: url(/images/etiquetanew.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.offproduto6 {
    background-image: url(/images/etiquetaoff.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.newproduto7 {
    background-image: url(/images/etiquetanew.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.freeproduto8 {
    background-image: url(/images/etiquetafree.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.newproduto9 {
    background-image: url(/images/etiquetanew.png);
    position: absolute;
    width: 65px;
    height: 60px;
    left: 223px;
    top: 0px;
}

.nomeproduto1 {
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 18px;
    vertical-align: center;
    padding: 2px 0px;

}

p {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 4px;
    letter-spacing: 1px;
    vertical-align: 1px;
    text-align: center;

}

.nomeproduto2 {
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 18px;
    vertical-align: center;
    padding: 2px 0px;

}

p1 {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -1px;
    text-align: center;

}

.nomeproduto4 {
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 18px;
    vertical-align: center;
    padding: 2px 0px;

}

p2 {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: 1px;
    text-align: center;

}

.nomeproduto5 {
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 18px;
    vertical-align: center;
    padding: 2px 0px;

}

p3 {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -1px;
    text-align: center;

}

.nomeproduto7 {
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 18px;
    vertical-align: center;
    padding: 2px 0px;

}

p4 {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: 1px;
    text-align: center;

}

.nomeproduto8 {
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 18px;
    vertical-align: center;
    padding: 2px 0px;

}

p5 {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: 1px;
    text-align: center;

}

.vermais1 {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    left: 100px;
    top: 123px;
    vertical-align: center;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;

}

p6 {
    display: inline;
    color: white;
    font-family: sans-serif;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -10px;
    text-align: center;

}

.vermais2 {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    left: 100px;
    top: 123px;
    vertical-align: center;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;

}

p7 {
    display: inline;
    color: white;
    font-family: sans-serif;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -10px;
    text-align: center;

}

.vermais4 {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    left: 100px;
    top: 123px;
    vertical-align: center;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;

}

p9 {
    display: inline;
    color: white;
    font-family: sans-serif;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -10px;
    text-align: center;

}

.vermais5 {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    left: 100px;
    top: 123px;
    vertical-align: center;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;

}

p10 {
    display: inline;
    color: white;
    font-family: sans-serif;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -10px;
    text-align: center;

}

.vermais7 {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    left: 100px;
    top: 123px;
    vertical-align: center;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;

}

p12 {
    display: inline;
    color: white;
    font-family: sans-serif;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -10px;
    text-align: center;

}

.vermais8 {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    left: 100px;
    top: 123px;
    vertical-align: center;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;

}

p13 {
    display: inline;
    color: white;
    font-family: sans-serif;
    line-height: 0px;
    letter-spacing: 1px;
    vertical-align: -10px;
    text-align: center;

}